.center{
  display: grid;
  justify-content: center;
  align-items: center;
}

.tcenter{
  text-align: center;
}
 
.menu button{
  padding: 5px;
  background-color: #4d5eba;
  color: white;
  margin:5px;
  border:2px solid #4d5eba;
  border-radius: 5px;
  width: 9rem;
  text-align: center;
  font-size: 1.1rem;
  transition:0.2s;
}
.menu button:hover{
  background-color: white;
  color: #4d5eba;
}

